@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1f28;
  --secondary-bg: #1f2937;
  --text-color: #e6e6e6;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
