.card {
    flex: 1;
    height: 500px;
    max-width: 800px;
    border-radius: 30px;
    overflow: hidden;

    position: relative;
    transition: all var(--task2-animation-delay);
    color: var(--task2-gray);
}

.card:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    width: 0px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--task2-gray);
    transition: all var(--task2-animation-delay);
}

.card.active {
    flex: 2;
    padding: 2em 4em;
}


/* styling card */

.linkContainer a {
    display: flex;
    gap: 0.5em;
    position: absolute;
    left: 500px;
    top: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-wrap: nowrap;
    transition: cubic-bezier(0.26, -0.63, 0.68, 1.53) 0.5s;
}
@keyframes loop {
    0% { gap: 0.5em }
    100% { gap: 0.75em }
}
.active:hover .linkContainer a {
    animation: 0.5s loop infinite alternate ease-in;
    color: var(--task2-gray);
}
.linkContainer img {
    height: 1em;
    width: 1em;
}

.card:not(.active) .illustrationWrapper {
    opacity: 0;
}

.illustrationWrapper {
    display: flex;
    position: absolute;
    top: 100px;
    gap: 30px;
    transition: 1s cubic-bezier(0.49, -0.41, 0.41, 1.38);
    transform: translateX(0);
}

.illustrationLeft {
    transform: translateX(-200%);
}

.illustrationRight {
    transform: translateX(200%);
}

.wrapper {
    display: flex;
    position: absolute;
    gap: 1em;
    align-items: center;
    bottom: 10px;
}

.illustration {
    transform: translateX(100%);
}

.statistics {
    font-size: 150px;
    font-weight: 1000;
    display: flex;
    align-items: flex-start;
}
.statistics::after {
    content: '+';
    font-size: 64px;
    transform: translate(-30%, 14%);
    transition: transform 0.5s;
}


.descriptionWrapper {
    width: 250px;
    transition: transform var(--task2-animation-delay);
}
.descriptionWrapper h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
}
.descriptionWrapper p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}

.card:not(.active):before {
    width: 2000px;

}
.card:not(.active) {
    color: var(--task2-red);
    cursor: pointer;
}

.card:not(.active) .descriptionWrapper {
    width: 220px;
    transform: translate(-120%, -150%) rotate(-90deg);;
}

.card:not(.active):hover .statistics::after {
    transform: translate(-10%, 25%);
}
